



.en-li{
  position: relative;
}

.details{
  visibility: hidden;
  position:absolute;
  top:55px;
  right:-35px;
  background-color:darkslategray;
  z-index: 1;
  padding: 20px 35px;
}


.en-li:hover .details{
  visibility: visible;
}



.main-div{
 

  display: flex;
  margin: 30px 100px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.vote-div{
  display: flex;
  flex-direction: column;
 
  width: 40%;
  height: 60%;
  margin-left: 500px;
  margin-right: 50px;
  padding: 10px;
}

.vote-div button{
  border: none;
  background-color: none;
  outline: none;
  
}

.vote-p1{
  text-align: center;
}

.img-div{
  margin-right: 30px;
 

}

.img-div img{
  height: 200px;
}

.info-div{

 
 padding: 2px 10px;
 width: 500px;
 height: 250px;
 text-align: left;
 /* flex: 1; */
}

.inn-div{
 
  width: 500px;
  padding: 2px 5px;
}

.butt-div{
 

 text-align: center;
 margin: 2px 150px;
 width: 500px;
}

.butt-div button{
  width: 100%;
  border:none;
  background-color: royalblue;
  color: aliceblue;
}


.form1{
  margin-top: 100px;
  width:40%;
  margin: auto;
  padding: 15px;
  border:1px solid yellowgreen;

}

.main-out-div, .out-div-login{
  margin-top: 50px;
}


@media (min-width:0px) and (max-width:768px){

  .nav-touch{
    width: 100%;
  }

  .main-div{
 
   
    display: flex;
    margin: 30px 40px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    /* overflow:auto; */
    
  }

  .img-div img{
    height: 200px;
    width:100%;
  }

  .vote-p1{
    text-align: left;
    
  }
  

 

 

   
.vote-div{
  display: flex;
  flex-direction: column;
 /* display: inline-block; */
  width: 40%;
  height: 60%;
   margin-left: 0px; 
  /* margin-right: 50px;  */
  /* margin:auto; */
  padding: 10px;
  /* align-items: flex-start; */
}


.form1{
  margin-top: 100px;
  width:100%;
  margin: auto;
  padding: 15px;
  border:1px solid yellowgreen;

}

.info-div{


  width:100%;
  height: 250px;
  text-align: left;
  flex: 1;
 }


 .butt-div{
 

  text-align: left;
  padding: 2px;
  margin: 2px 5px;
  width: 100px;
 }

 .butt-div button{
  width: 450px;
  border:none;
  background-color: royalblue;
  color: aliceblue;
 
  margin-left: -300px;
}




}

@media (max-width:769px){
  .butt-div{
 

    text-align: center;
    margin: 2px 100px;
    width: 500px;
   }

}



